.ui-resizable-se {
		bottom: 17px;
}
textarea,input {
	font-family:verdana;
	font-size:9px;
}
#fontsize {
	width:100px;
}
.edit:hover {
	opacity: 1;
}
.edit a, .edit i { 
	margin: 2px;
}

.edit {
	width: 50px;
	    white-space: nowrap;
	    opacity: 0.2;
}

.utm, .name,.title .ident,.rod,.d14,.d15, .d15 div, .d4, .esc, .keyw ,.d4 div, .desc div, .keyw div,.d8,.d16,.d9,.url, .img, .name div,.ident div,.rod div,.d14 div,.d8 div,.d16 div,.d9 div,.url div, .img div,.title div {
	width:200px;
}
.cont, .cont div {
	width:500px;		
}
.cont textarea{ height:300px; }
.num input {
	width:30px;
}
.type input, .price input,.art input {
	width:70px;
}
.sorer input, .sorer textarea {
	width:96%;
	padding:0;
	
}
td,tr,textarea{ height:100%; 	}
table,td {
	border-collapse: collapse;
}
td,th {
	padding:5px;
	border:1px solid #ddd;
}	
tr:hover {
	background:#f0f0f0;
}
tr.focused {
	background:#ffd7d8;
}
tr.focused:hover {
	background:#ffbfc1;
}
#hpanel span {
	cursor:pointer; background:#ccc; padding:0 5px; border:1px solid #999;
}
#hpanel {		overflow:hidden;	}
select, input[type="password"], input[type="text"], textarea {
	padding:0;
	border-radius:0;
}
th{
	font-weight:bold;background:#eee; 
	cursor : url(tpladmin/button_cancel.png), text;
}
td,th {
	font-size:11px;font-family:arial;
}
#allcoll {
	background: #ddd;
}
th .thsmall {
	font-size:9px;
	color:#666;
}
.nlistalka a,.nlistalka span{ padding: 2px 3px; color:#333; background: #F5F5F5;}
.nlistalka span {background: #DFDFDF; }
.nlistalka {  margin:5px;	 }