<script> 

function opt(act)
	{
		if (act=='add')
			{
				data={name:'Имя',cont:'Контент Контент Контент '}
				$('#calc').append( optgen( data ) );
				
			}
		hideallov();
		
	}
	
function optgen(data)
	{
		return _.template( $('#option_tpl').html().trim(), {data: data} );
	}

function menuadd(ob)
	{
		$(ob).toggleClass('ov').find('.inbut').html( $('#menuadd').html() );
	}

function  menuhide (ob)
	{
		//cl(ob);
		$(ob).parent().removeClass('ov');
	}

function hideallov ()
	{
		setTimeout( "$('.ov').removeClass('ov');",10);  
	}

</script>


<!--<script id="option_tpl" type="text/template">-->

	<div class="option">
		<div class="option_name" ><%=data.name %></div>
		<div class="option_cont"><%=data.cont %></div>
	</div>
<!--</script>-->

<!--<script id="menuadd" type="text/template">-->

	<a onclick="opt('add','table')">Таблица</a>
	<a onclick="opt('add','group')">Группа</a>

<!--</script>-->