body #center a.but { padding: 5px 10px; color: #fff; background: #ff8000; text-decoration: none; border-radius:4px; line-height: 40px; }

.option { border-radius:4px; border:1px solid #d0d0d0;  margin:10px 0; position: relative; }

body #center .option_name { color: #000; background: #efefef;   font-size: 17px; padding: 10px 20px; }

body #center .option_cont { padding: 10px 20px; color: #474747;   font-size: 14px; }

body #center a.but:hover {   background: #ec7600;  }

body #center a.but.ov .inbut,body #center a.but .inbut:hover { display: block;  } 

body #center a.but .inbut { 
position: absolute;
bottom: 26px;
left: 3px;
width: 300px;
border-radius:4px;
border:1px solid #d0d0d0;

 padding: 5px 10px;

 background: #fff;
display: none;
 }

body #center a.but .inbut a{ 

font-size: 15px;
color: #474747;
text-decoration: none;
background: #fffbdf;
padding: 3px 7px;
border-radius:4px;
}

body #center a.but .inbut a:hover { background:#fff5b0; }
