 h1 { background: url(../tpladmin/h1.png) no-repeat left top #FFF2F2;
padding-left:12px;
border:solid #FFD7D7 2px;
color:#900;
}
 h2 {
background: url(../tpladmin/h2.png) no-repeat left top #FFECEC;
padding-left:12px;
border:solid #F0E6E6 1px;
color:#F00;
}

 h3 { 
background: url(../tpladmin/h3.png) no-repeat left top #FFECEC;
padding-left:12px;
border:solid #F0E6E6 1px;
color:#000000; 
}

 p {
background: url(../tpladmin/p.png) no-repeat left top #F4F4F4;
padding-left:12px;
border:solid #EBEBEB 1px;
color:#000;
}
 ul {
background: url(../tpladmin/ul.png) no-repeat left top #E8FFDF;
padding:2px 2px 2px 28px;
border:solid #C5FFB0 1px;
color:#000;
}
 ol {
background: url(../tpladmin/ol.png) no-repeat left top #FFE8FE;
padding:2px 2px 2px 41px;
border:solid #FFDDFC 1px;
color:#000;
}
 li {
background: url(../tpladmin/li.png) no-repeat left top #ECEAFF;
padding:2px 2px 2px 12px;
border:solid #E1E1FF 1px;
color:#000;
margin:3px;
}
 div {
background: url(../tpladmin/dv.png) no-repeat left top #FEFFDF;
padding:2px 2px 2px 12px;
border:solid #FF0 1px;
color:#000;
margin:3px;
}
 span {
background: url(../tpladmin/sp.png) no-repeat left top #FFECD9;
padding:2px 2px 2px 12px;
border:solid #FC0 1px;
color:#000;
margin:3px;
}
body {font-size:13px;}
.imgbox {}
.ramka {}
body #copir img {height:30px;}  