<table style="height: 80px;" border="0" cellpadding="10" width="100%">
<tbody>
<tr>
<td style="text-align: right; width: 50%; height: 30px;" align="right" valign="middle"><a href="[href]">[midimg]</a></td>
<td><a href="[href]">[name]</a></td>
</tr>
</tbody>
</table>