<img src="cont/img/blok-Ross_lka.png">
<form action="" method="post" onsubmit="return subscriber(this)"><table width="100%" class="subscriber need"><tbody><tr><td><input alt="E-mail" type="text" class="emailsubscribe hinted" name="email"></td></tr><tr><td><br/></td></tr></tbody></table><input type="submit" value=" " class="subscribeok"></form>
