<form> 
<table border="0" width="80%" align="center">
<tbody>
<tr>
<td colspan="2">
<h1 style="text-align: center;">[h1]</h1>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>[midimg]</p>
<p>[bigimg]</p>
</td>
<td style="width: 180px;">
<p style="text-align: center;"><span class="price">[price] руб</span></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Количество [num]</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">[adcart]</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>[album]</p>
<p>[content]</p>
</td>
</tr>
</tbody>
</table>
</form>