



a[onclick] {
	cursor: pointer;
}

.disabled { pointer-events: none; opacity: 0.3 !important; }

@font-face {
    font-family: 'rur';
    src: url('webfont-rouble/rouble-webfont.eot');
    src: url('webfont-rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont-rouble/rouble-webfont.woff') format('woff'),
         url('webfont-rouble/rouble-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.rur 
{
	font-family:'rur';
	font-weight: normal;
    font-style: normal;
}


.adm .ajax, #adcont .ajax , .ajax{width:16px;height:16px;background-image:url(tpladmin/ajax.gif) !important; padding:0;}
.input_comment { padding: 2px 10px 6px 4px; }

#center form td.it_name, form td.it_name  { padding: 7px 0;  white-space:nowrap }

.pointer { cursor: pointer; }

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fanfoot {
	text-align:center;
	font-size:11px;
}

#fanfoot a {
	padding:2px 12px;
	background:#e8e8e8;
	display:inline-block;
	color:#777;
	text-decoration:none;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('jquery.fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 10px;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('jquery.fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('jquery.fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('jquery.fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('jquery.fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('jquery.fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('jquery.fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('jquery.fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('jquery.fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('jquery.fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('jquery.fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('jquery.fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('jquery.fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('jquery.fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('jquery.fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('jquery.fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('jquery.fancybox/fancybox.png') -55px -90px no-repeat;
}



/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }


.deltovbut {
	display:block;
	width:16px;
	height:16px;
	background:url(tpladmin/button_cancel.png) ;
	
}

.ui-slider-horizontal { margin:0 10px 0 5px ; }
#center .i_t {padding:0 0px; } 

.img_hover {  display: block; background-repeat: no-repeat; background-position: top left;}
.img_hover:hover {  background-position: bottom left; }

.ico_img { position: relative;  vertical-align: middle; margin-right: 5px;}

.it_input { position: relative; }

 .formedit {	display:none ; width:16px; position: absolute; right: 16px; z-index:9999; top:0px; background:#ffff00; }
.i_t:hover .formedit, .i_select:hover .formedit {	display: block ;}

.rangediv {text-align:center; padding-bottom:4px;}

.clear{ clear:both; }

body table .hint, .hint {
	color:#999;
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #444;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	
	background-image: url(tpladmin/back.php) ;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}



/* tooltip */


#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

.help {
	position:relative;
	margin:0 2px;
	cursor:pointer;
}

body .i_t img.helpimg{
	width:10px;
	height:13px;
}

.minihelp,.bighelp {
	display:none;
	position:absolute;
} 



/* datetimepicker */ 

	#ui-datepicker-div{ font-size: 11px; position:absolute;top:-999px;left:-999px;}
			
	/* css for timepicker */
	.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; font-family:verdana;}
	.ui-timepicker-div dl{ text-align: left; }
	.ui-timepicker-div dl dt{ height: 25px; }
	.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
	.ui-timepicker-div td { font-size: 90%; }



/*
 * jQuery UI CSS Framework 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }




/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(tpladmin/ui-bg_hi.png) 50% top repeat-x; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(tpladmin/ui-bg_gl.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(tpladmin/ui-bg_gm.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(tpladmin/ui-bg_gn.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(tpladmin/ui-bg_go.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c url(tpladmin/ui-bg_hj.png) 50% top repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(tpladmin/ui-bg_di.png) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(tpladmin/ui-icons.png); }
.ui-widget-content .ui-icon {background-image: url(tpladmin/ui-icons.png); }
.ui-widget-header .ui-icon {background-image: url(tpladmin/ui-icons.png); }
.ui-state-default .ui-icon { background-image: url(tpladmin/ui-icont.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(tpladmin/ui-icont.png); }
.ui-state-active .ui-icon {background-image: url(tpladmin/ui-icont.png); }
.ui-state-highlight .ui-icon {background-image: url(tpladmin/ui-icont.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(tpladmin/ui-icont.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #666666 url(tpladmin/ui-bg_di.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(tpladmin/ui-bg_fl.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }/*
 * jQuery UI Slider 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/*
 * jQuery UI Datepicker 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding:0 6px 0 0 ; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}


.red { color:#F00; }
.green { color:#00ff00; }
.oran { color:#ff8000; }


/* robokassa */

#IncCurrLabel {
	width:100%;
}


/* tables */
table.sorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.sorter thead tr th, table.sorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px 17px 4px 4px ;
}
table.sorter thead tr .header {
	background-image: url(tpladmin/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.sorter td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.sorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.sorter thead tr .headerSortUp {
	background-image: url(tpladmin/asc.gif);
}
table.sorter thead tr .headerSortDown {
	background-image: url(tpladmin/desc.gif);
}
table.sorter thead tr .headerSortDown, table.sorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

#alt { background:#ffffff;border:solid 1px #ffff00;position:absolute; top:-200px;left:-200px; }

/*  */ 




.i_r label { padding:4px 0 4px 27px;text-indent:-27px; display:block;line-height:16px; }
table.i_r,#center table.i_r { margin:6px auto; width:61%; border-radius:4px 4px 4px 4px;border:1px solid #c7c7c7;padding:1px 3px;-moz-border-radius:4px 4px 4px 4px;border-style:outset; background:#f2f2f2;}
fieldset.i_r{ margin:20px auto; width:61%; border-radius:4px 4px 4px 4px;border:1px solid #c7c7c7;padding:1px 3px;-moz-border-radius:4px 4px 4px 4px;	
}
.i_r legend { 	padding:0; 	margin:0 13px; }
.i_r legend b { padding:0 10px; }


.hidden { display:none;}
.form_hidden { display:none;}


a:active, a:focus, img, input:focus, input:active { outline: 0; }
button::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
border: none; 
}
input[type="radio"]:focus { 
-moz-outline-radius: 12px !important; 
-moz-outline-offset: 0px !important; 
}

#leftauto {
padding-left:2px;
}
.autom img {
border:none;
}

.svoystva {position:relative; z-index:10;}

.adm span.context0 {float:right; padding:0; position:relative;z-index:20; background-color:transparent !important; 
/*opera margin: 9px 0 -17px 0;height: 22px */;
}

@media not all and (-webkit-min-device-pixel-ratio) { 
.adm span.context0 { margin: 9px 0 -17px 0;height: 22px ; }
}

.adm span .context2, .adm span .context3 {padding:3px 8px 3px 7px; border:solid 1px transparent;}

.adm span:hover .context2 { background: url(tpladmin/package_settings.png) center center no-repeat ;   }
.adm span:hover .context3 { background: url(tpladmin/document-edit.png) center center no-repeat ; }

.adm span:hover .context2:hover,.adm span:hover .context3:hover { border:solid 1px #000080; } 

.context2 img,.context3 img,.context4 img { width:1px; height:1px; border:none; }

.context4 { background: url(tpladmin/document-edit.png) center center no-repeat ; padding:3px 8px 3px 7px; border:solid 1px transparent;}



/*  blocks */ 

.blocknews {

width:210px;
margin:0px 0px 20px 0px ;
}


		/* b-1 */ 
		body #center .blocknews-1, .blocknews-1  { 
			width:210px;
			height:40px;			
			font-size:1px;
					
		background: url(/cont/img/tpl/mm2-2-1.png) left top no-repeat;padding:0;}
	
		
		
		/* b-2 */
		#content .blocknews-2, #hmenu .blocknews-2, .blocknews-2 {
		width:200px;
		
		
		
		background: url(/cont/img/tpl/mm2-2-2.png) left top repeat-y ; }
	
		
		
		/* b-3 */
		.blocknews-3,body #center .blocknews-3 , #hmenu .blocknews-3{
		
			width:210px;
		
			height:19px; 
			font-size:1px;
		
			background: url(/cont/img/tpl/mm2-2-3.png) left top no-repeat;padding:0;}

		
		 
		



/* b-2 */ 
#content .blocknews-2, #hmenu .blocknews-2, .blocknews-2 { 
	
	text-align:left;
	
 	padding: 0px 5px 0px 5px; 
 	
 }

.blocknews-2 span, .blocknews-2 label,.blocknews-2 p, .blocknews-2 .ina, .blocknews-2 a {
	
	font-size:12px;
	
	font-family:Arial, Helvetica, sans-serifpx;;
	
	color:#3b3b3b;
	
	font-weight:normal;;
 

	/*display:block;*/
	/* height:auto; */
	text-align:left;;
}



.blocknews-2 label, .blocknews-2 a {

color:#3b3b3b;

text-decoration:underline;;
position:relative; 

}
.blocknews-2 a:hover{

color:#000000;
text-decoration:none;;
}
.blocknews-2 form {
margin:0;
}
.blocknews-2 h3 {
		
		
		text-align:left;;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.mm2 {

width:210px;
margin:0px 0px 20px 0px ;
}


		/* b-1 */ 
		body #center .mm2-1, .mm2-1  { 
			width:210px;
			height:40px;			
			font-size:1px;
					
		background: url(/cont/img/tpl/mm2-2-1.png) left top no-repeat;padding:0;}
	
		
		
		/* b-2 */
		#content .mm2-2, #hmenu .mm2-2, .mm2-2 {
		width:200px;
		
		
		
		background: url(/cont/img/tpl/mm2-2-2.png) left top repeat-y ; }
	
		
		
		/* b-3 */
		.mm2-3,body #center .mm2-3 , #hmenu .mm2-3{
		
			width:210px;
		
			height:19px; 
			font-size:1px;
		
			background: url(/cont/img/tpl/mm2-2-3.png) left top no-repeat;padding:0;}

		
		 
		



/* b-2 */ 
#content .mm2-2, #hmenu .mm2-2, .mm2-2 { 
	
	text-align:left;
	
 	padding: 0px 5px 0px 5px; 
 	
 }

.mm2-2 span, .mm2-2 label,.mm2-2 p, .mm2-2 .ina, .mm2-2 a {
	
	
	
	;
	
	
	
	;
 

	/*display:block;*/
	/* height:auto; */
	text-align:left;;
}



.mm2-2 label, .mm2-2 a {



text-decoration:none;;
position:relative; 

}
.mm2-2 a:hover{


text-decoration:none;;
}
.mm2-2 form {
margin:0;
}
.mm2-2 h3 {
		
		
		text-align:left;;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.centerblock {

width:271px;
margin:0px 0px 0px 0px ;
}


		/* b-1 */ 
		body #center .centerblock-1, .centerblock-1  { 
			width:271px;
			height:12px;			
			font-size:1px;
					
		background: url(/cont/img/tpl/centerblock-2-1.png) left top no-repeat;padding:0;}
	
		
		
		/* b-2 */
		#content .centerblock-2, #hmenu .centerblock-2, .centerblock-2 {
		width:225px;
		
		
		
		background: url(/cont/img/tpl/centerblock-2-2.png) left top repeat-y ; }
	
		
		
		/* b-3 */
		.centerblock-3,body #center .centerblock-3 , #hmenu .centerblock-3{
		
			width:271px;
		
			height:20px; 
			font-size:1px;
		
			background: url(/cont/img/tpl/centerblock-2-3.png) left top no-repeat;padding:0;}

		
		 
		



/* b-2 */ 
#content .centerblock-2, #hmenu .centerblock-2, .centerblock-2 { 
	
	
	
 	padding: 15px 23px 15px 23px; 
 	
 }

.centerblock-2 span, .centerblock-2 label,.centerblock-2 p, .centerblock-2 .ina, .centerblock-2 a {
	
	font-size:12px;
	
	font-family:Verdana, Helvetica, sans-serifpx;;
	
	color:#000000;
	
	font-weight:normal;;
 

	/*display:block;*/
	/* height:auto; */
	;
}



.centerblock-2 label, .centerblock-2 a {

color:#000000;

text-decoration:none;;
position:relative; 

}
.centerblock-2 a:hover{

color:#c44e00;
text-decoration:none;;
}
.centerblock-2 form {
margin:0;
}
.centerblock-2 h3 {
		
		
		;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.blockopros {

width:210px;
margin:0px 0px 20px 0px ;
}


		/* b-1 */ 
		body #center .blockopros-1, .blockopros-1  { 
			width:210px;
			height:40px;			
			font-size:1px;
					
		background: url(/cont/img/tpl/mm2-2-1.png) left top no-repeat;padding:0;}
	
		
		
		/* b-2 */
		#content .blockopros-2, #hmenu .blockopros-2, .blockopros-2 {
		width:200px;
		
		
		
		background: url(/cont/img/tpl/mm2-2-2.png) left top repeat-y ; }
	
		
		
		/* b-3 */
		.blockopros-3,body #center .blockopros-3 , #hmenu .blockopros-3{
		
			width:210px;
		
			height:19px; 
			font-size:1px;
		
			background: url(/cont/img/tpl/mm2-2-3.png) left top no-repeat;padding:0;}

		
		 
		



/* b-2 */ 
#content .blockopros-2, #hmenu .blockopros-2, .blockopros-2 { 
	
	text-align:left;
	
 	padding: 3px 5px 3px 5px; 
 	
 }

.blockopros-2 span, .blockopros-2 label,.blockopros-2 p, .blockopros-2 .ina, .blockopros-2 a {
	
	font-size:11px;
	
	font-family:Verdana, Helvetica, sans-serifpx;;
	
	color:#000000;
	
	font-weight:normal;;
 

	/*display:block;*/
	/* height:auto; */
	text-align:left;;
}



.blockopros-2 label, .blockopros-2 a {

color:#000000;

text-decoration:none;;
position:relative; 

}
.blockopros-2 a:hover{

color:#c44e00;
text-decoration:none;;
}
.blockopros-2 form {
margin:0;
}
.blockopros-2 h3 {
		
		
		text-align:left;;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.blockbaner {

width:210px;
margin:0px 0px 20px 0px ;
}


		/* b-1 */ 
		body #center .blockbaner-1, .blockbaner-1  { 
			width:210px;
						
			font-size:1px;
		 } 
		
		/* b-2 */
		#content .blockbaner-2, #hmenu .blockbaner-2, .blockbaner-2 {
		width:180px;
		
		
		 } 
		
		/* b-3 */
		.blockbaner-3,body #center .blockbaner-3 , #hmenu .blockbaner-3{
		
			width:210px;
		
			height:0px; 
			font-size:1px;
		 } 
		 
		



/* b-2 */ 
#content .blockbaner-2, #hmenu .blockbaner-2, .blockbaner-2 { 
	
	text-align:center;
	
 	padding: 0px 15px 0px 15px; 
 	
 }

.blockbaner-2 span, .blockbaner-2 label,.blockbaner-2 p, .blockbaner-2 .ina, .blockbaner-2 a {
	
	font-size:12px;
	
	font-family:Verdana, Helvetica, sans-serifpx;;
	
	color:#000000;
	
	font-weight:normal;;
 

	/*display:block;*/
	/* height:auto; */
	text-align:center;;
}



.blockbaner-2 label, .blockbaner-2 a {

color:#000000;

text-decoration:none;;
position:relative; 

}
.blockbaner-2 a:hover{

color:#c44e00;
text-decoration:none;;
}
.blockbaner-2 form {
margin:0;
}
.blockbaner-2 h3 {
		
		
		text-align:center;;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.blockcart {

width:210px;
margin:0px 0px 20px 0px ;
}


		/* b-1 */ 
		body #center .blockcart-1, .blockcart-1  { 
			width:210px;
			height:40px;			
			font-size:1px;
					
		background: url(/cont/img/tpl/mm2-2-1.png) left top no-repeat;padding:0;}
	
		
		
		/* b-2 */
		#content .blockcart-2, #hmenu .blockcart-2, .blockcart-2 {
		width:170px;
		
		
		
		background: url(/cont/img/tpl/mm2-2-2.png) left top repeat-y ; }
	
		
		
		/* b-3 */
		.blockcart-3,body #center .blockcart-3 , #hmenu .blockcart-3{
		
			width:210px;
		
			height:19px; 
			font-size:1px;
		
			background: url(/cont/img/tpl/mm2-2-3.png) left top no-repeat;padding:0;}

		
		 
		



/* b-2 */ 
#content .blockcart-2, #hmenu .blockcart-2, .blockcart-2 { 
	
	text-align:center;
	
 	padding: 0px 20px 0px 20px; 
 	
 }

.blockcart-2 span, .blockcart-2 label,.blockcart-2 p, .blockcart-2 .ina, .blockcart-2 a {
	
	font-size:12px;
	
	font-family:Verdana, Helvetica, sans-serifpx;;
	
	color:#ff0808;
	
	font-weight:normal;;
 

	/*display:block;*/
	/* height:auto; */
	text-align:center;;
}



.blockcart-2 label, .blockcart-2 a {

color:#ff0808;

text-decoration:none;;
position:relative; 

}
.blockcart-2 a:hover{

color:#ff0000;
text-decoration:underline;;
}
.blockcart-2 form {
margin:0;
}
.blockcart-2 h3 {
		
		
		text-align:center;;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.blocktov {

width:184px;
margin:0px 0px 0px 0px ;
}


		
		
		.blocktov-1 ,  .blocktov-15 {  height:100%;  } 
		
		
		
		.blocktov {	background: url(/cont/img/tpl/blocktov-2-2.png) center top repeat-y;	}
		/* b-1 */
		.blocktov-1 {  height:100%; background: url(/cont/img/tpl/blocktov-2-1.png) center top no-repeat ; } 
		/* b-15 */
		.blocktov-15 {  height:100%; background: url(/cont/img/tpl/blocktov-2-3.png) center bottom no-repeat ; } 
		
						
		/* b-2 */
		#center #cmenu td.blocktov-2, #hmenu .blocktov-2,.blocktov-2 {
		width:139px;
		
		 
		}
		
		
		



/* b-2 */ 
#content .blocktov-2, #hmenu .blocktov-2, .blocktov-2 { 
	
	
	
 	padding: 0px 25px 0px 20px; 
 	
 }

.blocktov-2 span, .blocktov-2 label,.blocktov-2 p, .blocktov-2 .ina, .blocktov-2 a {
	
	
	
	;
	
	
	
	;
 

	/*display:block;*/
	/* height:auto; */
	;
}



.blocktov-2 label, .blocktov-2 a {



text-decoration:none;;
position:relative; 

}
.blocktov-2 a:hover{


text-decoration:none;;
}
.blocktov-2 form {
margin:0;
}
.blocktov-2 h3 {
		
		
		;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.blockcat {

width:210px;
margin:0px 0px 0px 0px ;
}


		/* b-1 */ 
		body #center .blockcat-1, .blockcat-1  { 
			width:210px;
						
			font-size:1px;
		 } 
		
		/* b-2 */
		#content .blockcat-2, #hmenu .blockcat-2, .blockcat-2 {
		width:190px;
		
		
		 } 
		
		/* b-3 */
		.blockcat-3,body #center .blockcat-3 , #hmenu .blockcat-3{
		
			width:210px;
		
			height:0px; 
			font-size:1px;
		 } 
		 
		



/* b-2 */ 
#content .blockcat-2, #hmenu .blockcat-2, .blockcat-2 { 
	
	
	
 	padding: 0px 10px 0px 10px; 
 	
 }

.blockcat-2 span, .blockcat-2 label,.blockcat-2 p, .blockcat-2 .ina, .blockcat-2 a {
	
	
	
	;
	
	
	
	;
 

	/*display:block;*/
	/* height:auto; */
	;
}



.blockcat-2 label, .blockcat-2 a {



text-decoration:none;;
position:relative; 

}
.blockcat-2 a:hover{


text-decoration:none;;
}
.blockcat-2 form {
margin:0;
}
.blockcat-2 h3 {
		
		
		;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.blockfoto {

width:200px;
margin:0px 0px 0px 0px ;
}


		/* b-1 */ 
		body #center .blockfoto-1, .blockfoto-1  { 
			width:200px;
						
			font-size:1px;
		 } 
		
		/* b-2 */
		#content .blockfoto-2, #hmenu .blockfoto-2, .blockfoto-2 {
		width:200px;
		
		
		 } 
		
		/* b-3 */
		.blockfoto-3,body #center .blockfoto-3 , #hmenu .blockfoto-3{
		
			width:200px;
		
			height:0px; 
			font-size:1px;
		 } 
		 
		



/* b-2 */ 
#content .blockfoto-2, #hmenu .blockfoto-2, .blockfoto-2 { 
	
	text-align:center;
	
 	padding: 0px 0px 0px 0px; 
 	
 }

.blockfoto-2 span, .blockfoto-2 label,.blockfoto-2 p, .blockfoto-2 .ina, .blockfoto-2 a {
	
	
	
	;
	
	
	
	;
 

	/*display:block;*/
	/* height:auto; */
	text-align:center;;
}



.blockfoto-2 label, .blockfoto-2 a {



text-decoration:none;;
position:relative; 

}
.blockfoto-2 a:hover{


text-decoration:none;;
}
.blockfoto-2 form {
margin:0;
}
.blockfoto-2 h3 {
		
		
		text-align:center;;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.blockauth {

width:210px;
margin:0px 0px 20px 0px ;
}


		/* b-1 */ 
		body #center .blockauth-1, .blockauth-1  { 
			width:210px;
			height:40px;			
			font-size:1px;
					
		background: url(/cont/img/tpl/mm2-2-1.png) left top no-repeat;padding:0;}
	
		
		
		/* b-2 */
		#content .blockauth-2, #hmenu .blockauth-2, .blockauth-2 {
		width:210px;
		
		
		
		background: url(/cont/img/tpl/mm2-2-2.png) left top repeat-y ; }
	
		
		
		/* b-3 */
		.blockauth-3,body #center .blockauth-3 , #hmenu .blockauth-3{
		
			width:210px;
		
			height:19px; 
			font-size:1px;
		
			background: url(/cont/img/tpl/mm2-2-3.png) left top no-repeat;padding:0;}

		
		 
		



/* b-2 */ 
#content .blockauth-2, #hmenu .blockauth-2, .blockauth-2 { 
	
	text-align:center;
	
 	padding: 0px 0px 0px 0px; 
 	
 }

.blockauth-2 span, .blockauth-2 label,.blockauth-2 p, .blockauth-2 .ina, .blockauth-2 a {
	
	font-size:12px;
	
	font-family:Arial, Helvetica, sans-serifpx;;
	
	color:#000000;
	
	;
 

	/*display:block;*/
	/* height:auto; */
	text-align:center;;
}



.blockauth-2 label, .blockauth-2 a {

color:#000000;

text-decoration:none;;
position:relative; 

}
.blockauth-2 a:hover{

color:#000000;
text-decoration:none;;
}
.blockauth-2 form {
margin:0;
}
.blockauth-2 h3 {
		
		
		text-align:center;;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.blockfullsearch {

width:150px;
margin:0px 0px 20px 0px ;
}


		/* b-1 */ 
		body #center .blockfullsearch-1, .blockfullsearch-1  { 
			width:150px;
						
			font-size:1px;
		 } 
		
		/* b-2 */
		#content .blockfullsearch-2, #hmenu .blockfullsearch-2, .blockfullsearch-2 {
		width:150px;
		
		
		 } 
		
		/* b-3 */
		.blockfullsearch-3,body #center .blockfullsearch-3 , #hmenu .blockfullsearch-3{
		
			width:150px;
		
			height:0px; 
			font-size:1px;
		 } 
		 
		



/* b-2 */ 
#content .blockfullsearch-2, #hmenu .blockfullsearch-2, .blockfullsearch-2 { 
	
	
	
 	padding: 0px 0px 0px 0px; 
 	
 }

.blockfullsearch-2 span, .blockfullsearch-2 label,.blockfullsearch-2 p, .blockfullsearch-2 .ina, .blockfullsearch-2 a {
	
	
	
	;
	
	
	
	;
 

	/*display:block;*/
	/* height:auto; */
	;
}



.blockfullsearch-2 label, .blockfullsearch-2 a {



text-decoration:none;;
position:relative; 

}
.blockfullsearch-2 a:hover{


text-decoration:none;;
}
.blockfullsearch-2 form {
margin:0;
}
.blockfullsearch-2 h3 {
		
		
		;
		margin: 0 0 5px 0;}


	 
/*  blocks */ 

.hmm1 {

width:220px;
margin:0px 0px 0px 0px ;
}


		/* b-1 */ 
		body #center .hmm1-1, .hmm1-1  { 
			width:220px;
			height:10px;			
			font-size:1px;
					
		background: url(/cont/img/tpl/hmm1-2-1.png) left top no-repeat;padding:0;}
	
		
		
		/* b-2 */
		#content .hmm1-2, #hmenu .hmm1-2, .hmm1-2 {
		width:215px;
		
		
		
		background: url(/cont/img/tpl/hmm1-2-2.png) left top repeat-y ; }
	
		
		
		/* b-3 */
		.hmm1-3,body #center .hmm1-3 , #hmenu .hmm1-3{
		
			width:220px;
		
			height:9px; 
			font-size:1px;
		
			background: url(/cont/img/tpl/hmm1-2-3.png) left top no-repeat;padding:0;}

		
		 
		



/* b-2 */ 
#content .hmm1-2, #hmenu .hmm1-2, .hmm1-2 { 
	
	
	
 	padding: 0px 0px 0px 5px; 
 	
 }

.hmm1-2 span, .hmm1-2 label,.hmm1-2 p, .hmm1-2 .ina, .hmm1-2 a {
	
	
	
	;
	
	
	
	;
 

	/*display:block;*/
	/* height:auto; */
	;
}



.hmm1-2 label, .hmm1-2 a {



text-decoration:none;;
position:relative; 

}
.hmm1-2 a:hover{


text-decoration:none;;
}
.hmm1-2 form {
margin:0;
}
.hmm1-2 h3 {
		
		
		;
		margin: 0 0 5px 0;}


	 /* admin settings*/
.t-tov.not_av {
    background: url(tpladmin/not_av.png) no-repeat, no-repeat url(tpladmin/t-tov.png) left 2px;
    
  }
    
#center form td.it_name, form td.it_name { padding: 3px 0;}
.img_up {   padding: 7px;
  background: #f1f1f1;
  margin: 6px;  }

.histout {  display: initial !important; padding: 0 !important; }

div.histdiv {
	font-size: 11px;
padding: 3px 10px 3px 22px;
width: 188px;
white-space: pre-line;
margin: 1px;
color: #727272;
background-position-x: 3px;
}
#nav ul.sub .histdiv span {
	padding: 0;
}

.histdiv:hover {
	background-color: #f0f0f0;
	color: #111;
}

#progress {  background:#eee; text-align: left; margin-top:20px; width:50%;  } 
.bar {width:0px;background:#ccc; height:20px; margin-left:0; margin-right: auto; }

.delimg { display:inline-block; width:24px; height:24px; background:url(tpladmin/button_cancel.png) center center no-repeat ;  vertical-align:middle; margin-top:-4px; }

.delimg:hover {  background-color: #ffdddd;   } 

.addimg { 	text-align:left; } 
.addimg a { width: 73px;  display:block;height:24px;background:url(tpladmin/addimg.png) center center no-repeat #eee;  }
.addimg a:hover { background-color: #ddffe6;  }

.tovimg  img { vertical-align:middle; cursor: move; }
.tovimg { margin:1px;  text-align:left; list-style-type: none; }

.tovimg_header {
    vertical-align: top;
    width: 166px;
    position: relative;
}

.tovimg_out2 {
    text-align: left;
}
.tovimg_plus {
	position: relative; width: 100px; vertical-align: bottom;
}
.hided {
	display:none;
}

ul#tovimg {
	margin: 11px 0 -6px 0; 
}
 
.inadcont td { 
border-spacing:0;	
font-size:13px;
}

.inadcont input, textarea {
	margin:0;
	font-size:13px;
	font-family:arial;
}

.inadcont pre {
	font-family:arial;
	color: rgb(76, 167, 4);
	font-weight:bold;
}

.forres {
	position:relative;
	display:inline-block;
}
.butresize {
	z-index: 1; 
	position: absolute;
	width:21px;
	height:21px;
	background:url(tpladmin/butresize.png) ;
	cursor:move;
	}
	

.svoystva b {
	color:red;
}

#searchadm { float:right; }
#ininfullmenu ,#ininfullmenu td { border-spacing:0;border-collapse: collapse;	padding:0; }
.orange { background:#ffff00;font-weight:bold; }
.fordel {
	position:relative;
	display:inline-block;
}
.delbut {
	position:absolute;
	width:16px;
	height:16px;
	background:url(tpladmin/button_cancel.png) ;
	right:0;top:0;	
}

select,input[type="password"],input[type="text"], textarea {border-radius:4px 4px 4px 4px;border:1px solid #c7c7c7;padding:1px 3px;-moz-border-radius:4px 4px 4px 4px;}

html{height:100%;}
body {margin: 0px;
min-height:100%;
position:relative;
width:100%;height:100%;}

#maintab{width:100%;height:100%;min-width:800px;}
.conttypeimg {border:none; width:16px;height:16px;}
h3 {
margin:15px 5px 5px 5px; }
.bok1 {
font: 10px Verdana, Arial, Helvetica, sans-serif;
}
a:active {
color: #FF0000;
text-decoration: none;
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}

pre {font-family: serif;margin-bottom:0; margin-top:0; }
.adm {padding: 0px 10px 0px 0pt; position: absolute; left: 0pt; top: 0px; width: 282px;height:100%; overflow:auto;margin-top:30px;z-index:10; }
.adm div,.adm table {
font-family:  Arial, Verdana, Helvetica, sans-serif;
font-size: 12px;
padding-left: 16px;
text-align: left;
text-indent: 2px;
padding-bottom: 0px;
padding-top: 0px;
}
.adm .inadm {width:274px; padding:0px 0;}
.adm span {display:block; padding:4px 1px; } 
.adm span:hover { background-color:#F0F0F0;}
.adm .context{}



.incontext{position:absolute;left:270px; z-index:100; background:#F4F8FF;padding:10px; border:1px #0000FF solid;}
.incontext li { list-style:none; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;}
.lidel {text-align:center;}
.lidel a {border:none;background:url(tpladmin/del.png) no-repeat center center;
padding:10px 8px 5px; font-size:0px; position:relative; top:-3px;left:5px; }
.lidel a:hover{background-color:#FF0000;}
.lidel img {border:none; }
.aj{ position:relative; padding:0 0 0 14px; height:12px; text-align:right; color:#000000;font-weight:bold;margin-right:-16px;left:-16px}

#adcont .ajax {margin-top:200px;}
#adcont {overflow:auto;background: url(tpladmin/menu_edit.png) repeat-x top left; }
.inadcont { }
.inadcont {overflow:auto;padding:0px 20px 0 20px; margin-top:30px;}
.menu_edit a {cursor:pointer;}
/*rere*/

.t-block	{
background: no-repeat url(tpladmin/t-block.png) left 2px;  
}

.t-cod	{
background: no-repeat url(tpladmin/t-cod.png) left 2px;  
}

.t-shab	{
background: no-repeat url(tpladmin/t-shab.png) left 2px;  
}

.t-chopt	{
background: no-repeat url(tpladmin/t-chopt.png) left 2px;  
}

.t-ropt	{
background: no-repeat url(tpladmin/t-ropt.png) left 2px;  
}

.t-vermenu	{
background: no-repeat url(tpladmin/t-vermenu.png) left 2px;  
}

.t-hormenu	{
background: no-repeat url(tpladmin/t-hormenu.png) left 2px;  
}

.t-_news	{
background: no-repeat url(tpladmin/t-_news.png) left 2px;  
}

.t-bnews	{
background: no-repeat url(tpladmin/t-bnews.png) left 2px;  
}

.t-sismenu	{
background: no-repeat url(tpladmin/t-sismenu.png) left 2px;  
}

.t-but_3	{
background: no-repeat url(tpladmin/t-but_3.png) left 2px;  
}

.t-topt	{
background: no-repeat url(tpladmin/t-topt.png) left 2px;  
}

.t-kaptchia	{
background: no-repeat url(tpladmin/t-kaptchia.png) left 2px;  
}

.t-domain	{
background: no-repeat url(tpladmin/t-domain.png) left 2px;  
}

.t-spis	{
background: no-repeat url(tpladmin/t-spis.png) left 2px;  
}

.t-rootform	{
background: no-repeat url(tpladmin/t-rootform.png) left 2px;  
}

.t-formlink	{
background: no-repeat url(tpladmin/t-formlink.png) left 2px;  
}

.t-category	{
background: no-repeat url(tpladmin/t-category.png) left 2px;  
}

.t-page	{
background: no-repeat url(tpladmin/t-page.png) left 2px;  
}

.t-superbaner	{
background: no-repeat url(tpladmin/t-superbaner.png) left 2px;  
}

.t-bmenu	{
background: no-repeat url(tpladmin/t-bmenu.png) left 2px;  
}

.t-rotator	{
background: no-repeat url(tpladmin/t-rotator.png) left 2px;  
}

.t-rootopros	{
background: no-repeat url(tpladmin/t-rootopros.png) left 2px;  
}

.t-punkt	{
background: no-repeat url(tpladmin/t-punkt.png) left 2px;  
}

.t-baner	{
background: no-repeat url(tpladmin/t-baner.png) left 2px;  
}

.t-file	{
background: no-repeat url(tpladmin/t-file.png) left 2px;  
}

.t-ftext	{
background: no-repeat url(tpladmin/t-ftext.png) left 2px;  
}

.t-checkbox	{
background: no-repeat url(tpladmin/t-checkbox.png) left 2px;  
}

.t-imgalbum	{
background: no-repeat url(tpladmin/t-imgalbum.png) left 2px;  
}

.t-fotoalbum	{
background: no-repeat url(tpladmin/t-fotoalbum.png) left 2px;  
}

.t-_audio	{
background: no-repeat url(tpladmin/t-_audio.png) left 2px;  
}

.t-fopt	{
background: no-repeat url(tpladmin/t-fopt.png) left 2px;  
}

.t-_video	{
background: no-repeat url(tpladmin/t-_video.png) left 2px;  
}

.t-contenttype	{
background: no-repeat url(tpladmin/t-contenttype.png) left 2px;  
}

.t-fiximg	{
background: no-repeat url(tpladmin/t-fiximg.png) left 2px;  
}

.t-mpunkt	{
background: no-repeat url(tpladmin/t-mpunkt.png) left 2px;  
}

.t-syszagl	{
background: no-repeat url(tpladmin/t-syszagl.png) left 2px;  
}

.t-zagl	{
background: no-repeat url(tpladmin/t-zagl.png) left 2px;  
}

.t-mod	{
background: no-repeat url(tpladmin/t-mod.png) left 2px;  
}

.t-tov	{
background: no-repeat url(tpladmin/t-tov.png) left 2px;  
}

.t-sliderdiz	{
background: no-repeat url(tpladmin/t-sliderdiz.png) left 2px;  
}

.t-bodyfon	{
background: no-repeat url(tpladmin/t-bodyfon.png) left 2px;  
}

.t-color	{
background: no-repeat url(tpladmin/t-color.png) left 2px;  
}

.t-absoluter	{
background: no-repeat url(tpladmin/t-absoluter.png) left 2px;  
}

.t-img	{
background: no-repeat url(tpladmin/t-img.png) left 2px;  
}

.t-font	{
background: no-repeat url(tpladmin/t-font.png) left 2px;  
}

.t-copir	{
background: no-repeat url(tpladmin/t-copir.png) left 2px;  
}

.t-zadacha	{
background: no-repeat url(tpladmin/t-zadacha.png) left 2px;  
}

.t-userdatabase	{
background: no-repeat url(tpladmin/t-userdatabase.png) left 2px;  
}

.t-basefield	{
background: no-repeat url(tpladmin/t-basefield.png) left 2px;  
}

.t-usergroupset	{
background: no-repeat url(tpladmin/t-usergroupset.png) left 2px;  
}

.t-manicart-tov	{
background: no-repeat url(tpladmin/t-manicart-tov.png) left 2px;  
}

.t-_codegen	{
background: no-repeat url(tpladmin/t-_codegen.png) left 2px;  
}

.t-vid_tovara	{
background: no-repeat url(tpladmin/t-vid_tovara.png) left 2px;  
}

.t-submit-button	{
background: no-repeat url(tpladmin/t-submit-button.png) left 2px;  
}

.t-rangeslider	{
background: no-repeat url(tpladmin/t-rangeslider.png) left 2px;  
}

.t-domain-groups	{
background: no-repeat url(tpladmin/t-domain-groups.png) left 2px;  
}

.t-tovset	{
background: no-repeat url(tpladmin/t-tovset.png) left 2px;  
}

.t-tovval	{
background: no-repeat url(tpladmin/t-tovval.png) left 2px;  
}

.t-blockfloater	{
background: no-repeat url(tpladmin/t-blockfloater.png) left 2px;  
}

.t-	{
background: no-repeat url(tpladmin/t-.png) left 2px;  
}

.t-abtest	{
background: no-repeat url(tpladmin/t-abtest.png) left 2px;  
}

.t-popup_page	{
background: no-repeat url(tpladmin/t-popup_page.png) left 2px;  
}

.t-_calc	{
background: no-repeat url(tpladmin/t-_calc.png) left 2px;  
}

.t-count_down	{
background: no-repeat url(tpladmin/t-count_down.png) left 2px;  
}

.t-_calc_opt	{
background: no-repeat url(tpladmin/t-_calc_opt.png) left 2px;  
}

.t-_calc_opt_row	{
background: no-repeat url(tpladmin/t-_calc_opt_row.png) left 2px;  
}

.t-_calc_opt_sel	{
background: no-repeat url(tpladmin/t-_calc_opt_sel.png) left 2px;  
}

.t-_label	{
background: no-repeat url(tpladmin/t-_label.png) left 2px;  
}

.t-_spisok	{
background: no-repeat url(tpladmin/t-_spisok.png) left 2px;  
}

.t-_element	{
background: no-repeat url(tpladmin/t-_element.png) left 2px;  
}

.t-_css	{
background: no-repeat url(tpladmin/t-_css.png) left 2px;  
}

.t-_theme	{
background: no-repeat url(tpladmin/t-_theme.png) left 2px;  
}

.t-code_cont	{
background: no-repeat url(tpladmin/t-code_cont.png) left 2px;  
}

.t-_modul	{
background: no-repeat url(tpladmin/t-_modul.png) left 2px;  
}
 
#imf {
float: left;
width:250px;
min-height:200px;
margin:10px;
}
body {
margin: 0px;
background-image: url(tpladmin/admenu.png);
background-repeat: repeat-y;
background-position: -58px top;
}
.admenu {
padding: 10px 15px 15px 7px;	
width:280px;
background: no-repeat url(tpladmin/ugol.png) right top; 
}
.menu_edit{ 
height:30px;
min-width:595px;
width:100%;
}
.menu_edit a {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #333333;
}
#outmenu {
	position:absolute;left:0px;top:30px;width:100%;
	padding-left:302px;
	z-index:5;
	
}

.cur {
background-image:url(tpladmin/menu_edit_hover_01.png);
background-position: left center; padding:0;height:30px;
}
.cur div {height:22px;width:100%;
background:url(tpladmin/menu_edit_hover_02.png) right center no-repeat;
padding-top:8px;
}
.cur #editdiv {
	padding-top:4px;
	height:26px;
}

.lng {
border: 2px solid #000033;
}
.admbut {width:170px;}
#auth {
width:409px;
height:287px;
background:url(tpladmin/teta_pro_cms_login.png);
margin:0 auto 0 auto; 
}
#password {
background:url(tpladmin/teta_pro_cms_login.png) -188px -119px;
border:none;
width:159px;
height:22px;
position:relative;
top:143px;
left:188px;
text-align:center;
font-weight:bold;
color:#FFFFFF;
}
#login {
background:url(tpladmin/teta_pro_cms_login.png) -188px -119px;
border:none;
width:159px;
height:22px;
position:relative;
top:118px;
left:188px;
text-align:center;
font-weight:bold;
color:#FFFFFF;
}
#submit {
background:url(tpladmin/teta_pro_cms_login.png) -58px -209px;
border:none;
width:302px;
height:31px;
position:relative;
left:58px;
top:165px;
cursor:pointer;
}
.i_t img {width:16px; height:16px;}

.i_t img.help, img.help {
	width:10px;height:13px;margin-left:1px;margin-right:1px;
}
.ancor { position:absolute;top:-100px;left:-400px;}

.uploader {height:50px; width:40%;margin:auto;border:2px solid #999;vertical-align:middle;background-color:#a6caf0;}
.dragover { background-color:#00ff00;}
.dragenter{ border:4px solid #099}
.uploading { background:#ff0000 url(tpladmin/ajax.gif) center center no-repeat; }

#fullmenu {
background: url(tpladmin/fullmenu_02.png) right center no-repeat;
height:30px;z-index:100;position:relative;min-width:900px;	
}
#infullmenu {
background: url(tpladmin/fullmenu_01.png) left center no-repeat;
height:30px;	
margin-right:37px;
}

#adcont form {margin:0; }



/* full menu */

#nav {padding:0; margin:0 0 0 38px; list-style:none; height:30px; position:relative; z-index:500; font-family:arial, verdana, sans-serif;}
#nav li.top {display:block; float:left; height:30px;}

#nav li a.top_link {display:block; float:left; height:30px; line-height:23px; color:#333; text-decoration:none; font-size:14px; padding:0 17px 0 14px; cursor:pointer;}

#nav li a.top_link span {float:left; display:block; padding:0 24px 0 12px; height:35px; background: url(three_0.gif) right top no-repeat;}
#nav li a.top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:35px; }

#nav li.fl a.top_link {background: url(tpladmin/top_hover_05.png) right top no-repeat; }


#nav li:hover a.top_link, 
#nav li.iehover a.top_link {color:#333; background: url(tpladmin/top_hover_02.png) right top no-repeat; cursor:pointer;}

#nav li.fl:hover a.top_link  {color:#333; background: url(tpladmin/top_hover_04.png) right top no-repeat; cursor:pointer;}

#nav li:hover a.top_link span,
#nav li.iehover a.top_link span {background:url(three_1.gif) no-repeat right top; cursor:pointer;}
#nav li:hover a.top_link span.down,
#nav li.iehover a.top_link span.down { cursor:pointer;}

/* Default list styling */
#nav li.top:hover {position:relative; z-index:200; cursor:pointer; background: url(tpladmin/top_hover_01.png) left top no-repeat;}



#nav li:hover {position:relative; z-index:200; cursor:pointer;}

#nav li:hover ul.sub, #nav li.ov ul.sub
{left:1px; top:24px; padding:3px; white-space:nowrap; width:228px; height:auto; z-index:300; cursor:pointer;}
#nav li:hover ul.sub li,#nav li.ov ul.sub li
{display:block; position:relative; /*float:left;*/ width:228px; font-weight:normal; cursor:pointer;}

#nav li:hover ul.sub li a,#nav li.ov ul.sub li a
{display:block; font-size:11px; width:185px; text-indent:-21px; color:#000; text-decoration:none; cursor:pointer; display:block;padding:4px 9px 4px 26px;line-height:12px;}

#nav li:hover ul.sub li a.fla,#nav li.ov ul.sub li a.fla 
{background: url(tpladmin/fl.png) right center no-repeat;}


#nav li ul.sub li a.fly
{background:#bbd37e url(arrow.gif) 80px 6px no-repeat; cursor:pointer;}
#nav li:hover ul.sub li a:hover
{background:#ccc; color:#000; cursor:pointer;}

#nav li:hover ul.sub li.fl a.fla:hover
{background: url(tpladmin/fl.png) right center no-repeat #ccc; cursor:pointer;}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul, 
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:210px; top:-12px; padding:3px;  white-space:nowrap; width:228px; z-index:400; height:auto;}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background:#6a812c url(arrow_over.gif) 80px 6px no-repeat; color:#fff; border-color:#fff;} 

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background:#bbd37e url(arrow.gif) 80px 6px no-repeat; color:#000; border-color:#bbd37e;} 

.admul {border-style:none; border-spacing:0;border-collapse: collapse;}
.admul-1 {width:228px; height:8px;background:url(tpladmin/fmb_01.png) left top no-repeat;}
.admul-2 {width:228px; background:url(tpladmin/fmb_02.png) left top repeat-y;}
.admul-3 {width:228px; height:13px;background:url(tpladmin/fmb_03.png) left top no-repeat;}
	
#nav ul.sub span {padding:5px 9px;}
#nav ul.sub img {margin:-2px 2px -3px 2px;border:none; }

body .adm .act { border:#ff0000 solid 1px; border-style:outset;padding:3px 0px;background-color:#fff2f2;}
.ch_but {  border: 1px solid #ddd; padding:3px;  }


