   



#center .desc {

 font-size: 12px; 

font-family: Arial, Helvetica, sans-serif; 

color: #4d0000; 







font-style:italic; 



}



	

h1 {

















}



	

h2 {





color: #000000; 











}



	

#center p {



font-family: Verdana, Arial, Helvetica, sans-serif; 

color: #000000; 





text-align:justify; 





}



	

h3 {





color: #000000; 











}



	



* { margin:0px; padding:0px; }



html{

background:  url(/cont/img/tpl/bodyfon-1-html.png)  center center norepeat;

background-color:#dedede;

height:100%;



}

* html body{ height:100%; }

body {

	font-size:10px; 

	font-family: Verdana, Arial, Helvetica, sans-serif;

	margin: 0px;

	min-height:100%;

	position:relative;

	/*background:url(/cont/img/tpl/bodyfon-1-3.png) center top repeat-y;*/
	width:100%;

}


.i_t td{

padding:5px;

}



.dalb{

	width:210px;

	height:210px;

	float:left;

	text-align:center;

	align:center;

	margin: 5px;

}









#inheader {

	height:90px;

	width:990px;

	margin:0 auto;

	background-repeat: no-repeat;

	background-position: left top;

	background-image: url(/cont/img/tpl/bodyfon-1-1.png); 

	display:block;

	overflow:hidden;  



}

#header {

	position:absolute;

	left:0;

	top:0;

	width:100%;

	height:90px;

	display:block;

	z-index:10;

}





#hmenu {

	height: 25px;

	width:100%;

	top: 55px;

	left:0;

	

	position: absolute;

	text-align: center;

	margin 0;

	z-index:20;

}

#inhm {

	margin-top: 0px;

	margin-right: auto;

	margin-bottom: 0px;

	margin-left: auto;

	width:990px;

	height: 25px;

	background-position: center top;

	/* background-color:#660000;

	background-image:url(/cont/img/tpl/hmfon.png);*/

	

	

	

}



#outfooter {

width:auto;

height:85px; 

position:absolute;

bottom:0;

left:0;

right:0;

}



#footer {

	width:990px;

	margin:0 auto;

	height:85px;  

	text-align: center;

	

	background: url(/cont/img/tpl/bodyfon-1-4.png) left top no-repeat ;

	padding-top: 0px;

	padding-bottom: 0px;

}



#content { width:990px; 

padding-bottom:115px; 

overflow:hidden; 

padding-top: 90px; 

margin-left:auto;

margin-right:auto;

background-position: left 90px;

background-image: url(/cont/img/tpl/bodyfon-1-2.png);

background-repeat:no-repeat;

z-index:15;



 

}



#content_up {

width:990px; 

margin-left:auto;

margin-right:auto;

background-repeat: repeat-y;



}



#container1 { width:100%; float:left; margin-right:-271px; }

#container2 { background:#000000; margin-right:271px; }

#container3 { width:100%; float:right; margin-left:-274px; }



#left {

	width:271px;

	float:left;

	

}

#center {

	margin-left:271px;

	margin-top:0px;

}

#incen {

	padding:px px px px;

	

}





#right {

	float:right;

	width:271px;

	margin-bottom: 40px;

}



#min_width { width:800px; }





#maintab {

	border-top-style: none;

	border-right-style: none;

	border-bottom-style: none;

	border-left-style: none;

	

	

	width: 990px; 

	margin-right: auto;

	margin-left: auto;

	margin-top: 90px;

}





.imgbox{

	margin:0px 10px 0px 10px;

	padding: 5px;

	border-top: 1px solid #006600;

	border-right: 2px solid #006600;

	border-bottom: 2px solid #006600;

	border-left: 1px solid #006600;

}





.mainauth {
width:63%;
height:18px;
border:none;
padding-top:2px;
text-align:center;
}

.blockauth-2 span .alab {text-align:right;}

.voyti {background:#B5C5F0;  
border:none;
width:100%;
height:20px;
}





#umenu li, #umenu ul, #umenu span, #umenu a, #umenu p {display:block;}



#umenu table, #cmenu table{border-style:none; border-spacing:0;border-collapse: collapse;}

#umenu td, #cmenu td { border:none;border-style:none;padding:0;

}



#cmenu td {

/*padding: 10px;*/

}

.mdalee-2 {
width:100%;
height:44px;
text-align:right;
padding:10px 0px 0px 0px;
}

.ndate {
float:right;
margin:5px 0 10px 20px;
}

#cmenu .tov

	{

	width:220px;

	margin:0 27px;

	text-align:center ;

	float:left;

	}

#cmenu .line {

	overflow:hidden;

	padding:10px 0 20px 0;

}

#center img{

margin: 5px 10px 5px 10px;
border:none;
}

.indeximg {

}
#center .indeximg {
float:none; 
margin:0;
position:relative;
top:-20px;
}


#center .bigtov

	{

	width:100%;

	text-align:center;

	}

.bigtov h2 {

text-align:center;

}

.hidem
	{
	position:absolute;
	left:-1000px
	}

 



.mm1-2 .m1-L{

	

	background-repeat: repeat-y;

	background-position: left top;

	width: ;

}



.mm1-2 .m1-L.act  {

	background-position: right top;

}





.mm1-2 .m1-L.ov  {

	background-position: center top;

}





.mm1-2 .m1-s{

	

	background-repeat: no-repeat;

	background-position: left top;

}



.mm1-2 .act .m1-s{

	background-position: right top;

}



.mm1-2 .ov .m1-s{

	background-position: center top;

}



.m1-a {



	padding: 8px px 8px px;

	color:#;
	
		width:100%;
		

	display:block;

	font-size: px;

	font-weight: ;	

	font-family: ;	

	

	background-repeat: no-repeat;

	background-position: left bottom;

	text-decoration:none;

}



.m1-L.act .m1-a {

	background-position: right bottom;

	color:#; }





.m1-L.ov .m1-a {

	background-position: center bottom;

	color:#;

}



 



.mm2-2 .m2-L{

	

	background-image: url(/cont/img/tpl/m2-2.png);

	

	background-repeat: repeat-y;

	background-position: left top;

	width: 165px;

}



.mm2-2 .m2-L.act  {

	background-position: right top;

}





.mm2-2 .m2-L.ov  {

	background-position: center top;

}





.mm2-2 .m2-s{

	

	background-image: url(/cont/img/tpl/m2-1.png);

	

	background-repeat: no-repeat;

	background-position: left top;

}



.mm2-2 .act .m2-s{

	background-position: right top;

}



.mm2-2 .ov .m2-s{

	background-position: center top;

}



.m2-a {



	padding: 6px 10px 6px 10px;

	color:#ffffff;
	
		width:145px;
		

	display:block;

	font-size: 11px;

	font-weight: normal;	

	font-family: Verdana, Arial, Helvetica, sans-serif;	

	

	background-image: url(/cont/img/tpl/m2-3.png);

	

	background-repeat: no-repeat;

	background-position: left bottom;

	text-decoration:none;

}



.m2-L.act .m2-a {

	background-position: right bottom;

	color:#616161; }





.m2-L.ov .m2-a {

	background-position: center bottom;

	color:#616161;

}



 



.mm3-2 .m3-L{

	

	background-image: url(/cont/img/tpl/m3-2.png);

	

	background-repeat: repeat-y;

	background-position: left top;

	width: 165px;

}



.mm3-2 .m3-L.act  {

	background-position: right top;

}





.mm3-2 .m3-L.ov  {

	background-position: center top;

}





.mm3-2 .m3-s{

	

	background-image: url(/cont/img/tpl/m3-1.png);

	

	background-repeat: no-repeat;

	background-position: left top;

}



.mm3-2 .act .m3-s{

	background-position: right top;

}



.mm3-2 .ov .m3-s{

	background-position: center top;

}



.m3-a {



	padding: 6px 10px 6px 20px;

	color:#ffffff;
	
		width:135px;
		

	display:block;

	font-size: 10px;

	font-weight: normal;	

	font-family: Verdana, Arial, Helvetica, sans-serif;	

	

	background-image: url(/cont/img/tpl/m3-3.png);

	

	background-repeat: no-repeat;

	background-position: left bottom;

	text-decoration:none;

}



.m3-L.act .m3-a {

	background-position: right bottom;

	color:#383838; }





.m3-L.ov .m3-a {

	background-position: center bottom;

	color:#383838;

}



 



.mm4-2 .m4-L{

	

	background-image: url(/cont/img/tpl/m4-2.png);

	

	background-repeat: repeat-y;

	background-position: left top;

	width: 165px;

}



.mm4-2 .m4-L.act  {

	background-position: right top;

}





.mm4-2 .m4-L.ov  {

	background-position: center top;

}





.mm4-2 .m4-s{

	

	background-image: url(/cont/img/tpl/m4-1.png);

	

	background-repeat: no-repeat;

	background-position: left top;

}



.mm4-2 .act .m4-s{

	background-position: right top;

}



.mm4-2 .ov .m4-s{

	background-position: center top;

}



.m4-a {



	padding: 6px 10px 6px 25px;

	color:#ffffff;
	
		width:130px;
		

	display:block;

	font-size: 10px;

	font-weight: normal;	

	font-family: Verdana, Arial, Helvetica, sans-serif;	

	

	background-image: url(/cont/img/tpl/m4-3.png);

	

	background-repeat: no-repeat;

	background-position: left bottom;

	text-decoration:none;

}



.m4-L.act .m4-a {

	background-position: right bottom;

	color:#545454; }





.m4-L.ov .m4-a {

	background-position: center bottom;

	color:#545454;

}



 



.mcmenu-2 .cmenu-L{

	

	background-repeat: repeat-y;

	background-position: left top;

	width: 165px;

}



.mcmenu-2 .cmenu-L.act  {

	background-position: right top;

}





.mcmenu-2 .cmenu-L.ov  {

	background-position: center top;

}





.mcmenu-2 .cmenu-s{

	

	background-repeat: no-repeat;

	background-position: left top;

}



.mcmenu-2 .act .cmenu-s{

	background-position: right top;

}



.mcmenu-2 .ov .cmenu-s{

	background-position: center top;

}



.cmenu-a {



	padding: 13px 20px 13px 20px;

	color:#590000;
	
		width:100%;
		

	display:block;

	font-size: 13px;

	font-weight: normal;	

	font-family: Arial, Helvetica, sans-serif;	

	

	background-repeat: no-repeat;

	background-position: left bottom;

	text-decoration:none;

}



.cmenu-L.act .cmenu-a {

	background-position: right bottom;

	color:#2e0000; }





.cmenu-L.ov .cmenu-a {

	background-position: center bottom;

	color:#2e0000;

}









#min_width { width:800px; }







#upcont {

	position: absolute;

	height: 1px;

	width: 1px;

	right: 0px;

	bottom: 0px;

}







#wrapper {

	

	background-repeat: repeat-y;

	background-position: left top;

}





A:link.a_cont {text-decoration: underline; color:#024463}

A:visited.a_cont {text-decoration:underline ; color:#024463;font-weight: bold;}

A:active.a_cont {text-decoration: none ; color:#024463}

A:hover.a_cont {

	text-decoration: none;

	color:#0000ff;

    font-weight: bold;

}





.langswich {

	padding-top: 5px;

	padding-left: 20px;

	padding-bottom: 5px;

	position: absolute;

	top: 10px;

	right: 40px;

}

.langswich img{ 

	border-top-style: none;

	border-right-style: none;

	border-bottom-style: none;

	border-left-style: none;

}



.opros {

	font-size: 10px;

}



a:active, a:focus, img { outline: 0; }


#listalka {text-align:center;}

#nlistalka a,#nlistalka span{
background:url(/cont/img/tpl/listalka.png) center top;
padding: 3px 7px 3px 7px;
display:inline;
color:#FFFFFF;
font-size:14px;
font-weight:bold;
border:solid;
border-width:1px;
border-color:#FFFFFF;
}
#nlistalka a:hover {background-position: center center;}

#nlistalka span{background-position: center bottom;} 


.hr{
width:100%;
height:1px;
margin-bottom:20px;
border-bottom:#858382 solid 1px;
}










/* __________________________________________________ */



/* SpryMenuBarHorizontal.css - Revision: Spry Preview Release 1.4 */



/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */



/*******************************************************************************



 LAYOUT INFORMATION: describes box model, positioning, z-order



 *******************************************************************************/



/* The outermost container of the Menu Bar, an auto width box with no margin or padding */

ul.MenuBarHorizontal

{

	margin: 0;

	padding: 0 0 0 60px;;

	list-style-type: none;

	font-size: 100%;

	cursor: default;

	width: auto;

}

/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */

ul.MenuBarActive

{

	z-index: 1000;

}

/* Menu item containers, position children relative to this container and are a fixed width */

ul.MenuBarHorizontal li

{

	margin: 0;

	

	list-style-type: none;

	position: relative;

	text-align: left;

	cursor: pointer;

	width:auto;

	float: left;

	/*height:25px;*/

}

/* Submenus should appear below their parent (top: 0) with a higher z-index, but they are initially off the left side of the screen (-1000em) */

ul.MenuBarHorizontal ul

{

	margin: 2px 0 0 -24px;

	padding: 0;

	list-style-type: none;

	font-size: 100%;

	z-index: 1020;

	cursor: default;

	width: 182px;

	position: absolute;

	left: -1000em;

}

ul.MenuBarHorizontal a {text-decoration:none;}

/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to auto so it comes onto the screen below its parent menu item */

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible

{

	left: auto;

}

/* Menu item containers are same fixed width as parent */

ul.MenuBarHorizontal ul li

{

	width: 182px;

}

/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) */



ul.MenuBarHorizontal ul ul

{

	position: absolute;

	margin: -5% 0 0 95%;

	width: 182px;

}

/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible

{

	left: auto;

	top: 0;

}



/*******************************************************************************



 DESIGN INFORMATION: describes color scheme, borders, fonts



 *******************************************************************************/



/* Submenu containers have borders on all sides */



/*first uroven*/



 .hmset1-L {

	background-image: url(/cont/img/tpl/hmset-1-1.png);

	background-repeat: no-repeat;

	background-position: left top;

	padding: 0 0 0 12px;

	

}



ul.MenuBarHorizontal .hmset1-L.act, ul.MenuBarHorizontal .MenuBarItemIE.hmset1-L.act , ul.MenuBarHorizontal .hmset1-L.MenuBarItemIE.act {

	background-position:  left center;

}





ul.MenuBarHorizontal .hmset1-L.ov, ul.MenuBarHorizontal .MenuBarItemIE.hmset1-L.ov , ul.MenuBarHorizontal .hmset1-L.MenuBarItemIE.ov {

	background-position:  left bottom;

}







.hmset1-s {

	display:block;

	background-image: url(/cont/img/tpl/hmset-1-3.png);

	background-repeat: no-repeat;

	background-position: right top;

	padding-right: 12px;

}

li.act .hmset1-s {background-position: right center;}



li.ov .hmset1-s {

	background-position: right bottom;

}



.hmset1-a

{

	display: block;

	cursor: pointer;

	position:relative;

	padding: 6px 0 6px 0;

	/*height:25px;*/

	

	text-decoration: none;

	background-image: url(/cont/img/tpl/hmset-1-2.png);

	background-position: left top;

	color: #fafafa;

	font-size: 10px;

	font-weight: normal;

	

	font-family: Verdana, Arial, Helvetica, sans-serif;

}



.act .hmset1-a {

	background-position: center center;

	

	color: #363636;

}



ul.MenuBarHorizontal .ov .hmset1-a {

	background-position: center bottom;

	

	color: #363636;

}









/*sublevel*/





ul.MenuBarHorizontal .hmset2-L {

	background-image: url(/cont/img/tpl/hmset-2-2.png);

	background-repeat: repeat-y;

	background-position: left top;

	width:182px;

	padding: 0 ;  

}



 ul.MenuBarHorizontal .hmset1-ul .hmset2-L.ov {background-position: right top;}







.hmset2-s {

	background-image: url(/cont/img/tpl/hmset-2-1.png);

	background-repeat: no-repeat;

	background-position: left top;

	padding:0;

	display:block;

}





.hmset1-ul .ov .hmset2-s {

background-position: right top;}



.hmset2-a {

	background-image: url(/cont/img/tpl/hmset-2-3.png);

	background-repeat: no-repeat;

	background-position: left bottom;

	padding: 10px 10px 10px 10px;

	color:#ffffff;

	width:162px;

	display:block;

	font-size: 11px;

	font-weight: normal;

	

	font-family: Verdana, Arial, Helvetica, sans-serif;

}





.hmset1-ul .ov .hmset2-a {

background-position: right bottom;

color:#808080; }









ul.MenuBarHorizontal .hmset3-L {

	background-image: url(/cont/img/tpl/hmset-2-2.png);

	background-repeat: repeat-y;

	background-position: left top;

	width:182px;

	padding: 0 ;  

}



 ul.MenuBarHorizontal .hmset2-ul .hmset3-L.ov {background-position: right top;}







.hmset3-s {

	background-image: url(/cont/img/tpl/hmset-2-1.png);

	background-repeat: no-repeat;

	background-position: left top;

	padding:0;

	display:block;

}





.hmset2-ul .ov .hmset3-s {

background-position: right top;}



.hmset3-a {

	background-image: url(/cont/img/tpl/hmset-2-3.png);

	background-repeat: no-repeat;

	background-position: left bottom;

	padding: 10px 10px 10px 10px;

	color:#ffffff;

	width:162px;

	display:block;

	font-size: 11px;

	font-weight: normal;

	

	font-family: Verdana, Arial, Helvetica, sans-serif;

}





.hmset2-ul .ov .hmset3-a {

background-position: right bottom;

color:#808080; }









ul.MenuBarHorizontal .hmset4-L {

	background-image: url(/cont/img/tpl/hmset-2-2.png);

	background-repeat: repeat-y;

	background-position: left top;

	width:182px;

	padding: 0 ;  

}



 ul.MenuBarHorizontal .hmset3-ul .hmset4-L.ov {background-position: right top;}







.hmset4-s {

	background-image: url(/cont/img/tpl/hmset-2-1.png);

	background-repeat: no-repeat;

	background-position: left top;

	padding:0;

	display:block;

}





.hmset3-ul .ov .hmset4-s {

background-position: right top;}



.hmset4-a {

	background-image: url(/cont/img/tpl/hmset-2-3.png);

	background-repeat: no-repeat;

	background-position: left bottom;

	padding: 10px 10px 10px 10px;

	color:#ffffff;

	width:162px;

	display:block;

	font-size: 11px;

	font-weight: normal;

	

	font-family: Verdana, Arial, Helvetica, sans-serif;

}





.hmset3-ul .ov .hmset4-a {

background-position: right bottom;

color:#808080; }









ul.MenuBarHorizontal .hmset5-L {

	background-image: url(/cont/img/tpl/hmset-2-2.png);

	background-repeat: repeat-y;

	background-position: left top;

	width:182px;

	padding: 0 ;  

}



 ul.MenuBarHorizontal .hmset4-ul .hmset5-L.ov {background-position: right top;}







.hmset5-s {

	background-image: url(/cont/img/tpl/hmset-2-1.png);

	background-repeat: no-repeat;

	background-position: left top;

	padding:0;

	display:block;

}





.hmset4-ul .ov .hmset5-s {

background-position: right top;}



.hmset5-a {

	background-image: url(/cont/img/tpl/hmset-2-3.png);

	background-repeat: no-repeat;

	background-position: left bottom;

	padding: 10px 10px 10px 10px;

	color:#ffffff;

	width:162px;

	display:block;

	font-size: 11px;

	font-weight: normal;

	

	font-family: Verdana, Arial, Helvetica, sans-serif;

}





.hmset4-ul .ov .hmset5-a {

background-position: right bottom;

color:#808080; }















/*******************************************************************************



 BROWSER HACKS: the hacks below should not be changed unless you are an expert



 *******************************************************************************/



/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */

ul.MenuBarHorizontal iframe

{

	position: absolute;

	z-index: 1010;

	border:none;

}

/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */



	

@media screen, projection

{

	ul.MenuBarHorizontal li.MenuBarItemIE

	{

		display: inline;

		f\loat: left;

		

	}

	

	

	

	

	

}





#leftauto {

padding-left:2px;

}

.autom img {

border:none;

}



/*  blocks */ 





.mm2 {

width:271px;

}

.mm2-1 {

width:271px;

height:7px;

background: url(/cont/img/tpl/mm2-2-1.png) left top no-repeat !important;

background: none;

filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/cont/img/tpl/mm2-2-1.png");



}

   





.mm2-2 {

width:220px;

padding: 0 0px 0 51px;

background: url(/cont/img/tpl/mm2-2-2.png) left top repeat-y !important;

background: none;

filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/cont/img/tpl/mm2-2-2.png", sizingMethod='scale');

} 



.mm2-2 span, .mm2-2 label, .mm2-2 .ina {

font-size: px;

font-family: ;

color: #;

font-weight: ;

text-decoration:none; 

padding: 21px 0px 0px 0px; 

display:block;

height:auto;

text-align:left;



}



.mm2-2 label, .mm2-2 a {

}





.mm2-2 a:hover{

color: #;

}





.mm2-3 {

width:271px;

height:25px;

background: url(/cont/img/tpl/mm2-2-3.png) left top no-repeat !important;

background: none;

filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/cont/img/tpl/mm2-2-3.png");

}

.mm2 form {

margin:0;

}



.mm2 h3 {

color: #;

text-align:left;

margin: 0 0 5px 0;

}





/*  blocks */ 





.autom {

width:271px;

}

.autom-1 {

width:271px;

height:11px;

background: url(/cont/img/tpl/autom-2-1.png) left top no-repeat !important;

background: none;

filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/cont/img/tpl/autom-2-1.png");



}

   





.autom-2 {

width:211px;

padding: 0 32px 0 28px;

background: url(/cont/img/tpl/autom-2-2.png) left top repeat-y !important;

background: none;

filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/cont/img/tpl/autom-2-2.png", sizingMethod='scale');

} 



.autom-2 span, .autom-2 label, .autom-2 .ina {

font-size: 12px;

font-family: Arial, Helvetica, sans-serif;

color: #000000;

font-weight: bold;

text-decoration:none; 

padding: 16px 0px 0px 0px; 

display:block;

height:auto;

text-align:center;



}



.autom-2 label, .autom-2 a {

}





.autom-2 a:hover{

color: #0d00ff;

}





.autom-3 {

width:271px;

height:21px;

background: url(/cont/img/tpl/autom-2-3.png) left top no-repeat !important;

background: none;

filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/cont/img/tpl/autom-2-3.png");

}

.autom form {

margin:0;

}



.autom h3 {

color: #000000;

text-align:center;

margin: 0 0 5px 0;

}







 