h1 { color: rgb(68, 68, 68); background: rgb(68, 68, 68); }
.adress td { vertical-align: top; }
.adresses { }
td.adress_cont { width: 347px; }
#center .table td { border-bottom: 1px solid rgb(170, 170, 170); padding: 16px; }
#center .table th { text-align: center; padding: 16px; background: rgb(238, 238, 238); }
#center a.btn.btn-default { text-decoration: none; padding: 4px; border: 1px solid rgb(170, 170, 170); border-radius: 5px; line-height: 29px; color: rgb(102, 102, 102); background: rgb(247, 247, 247); }
#center table.orders.table, #center table.order_info { margin: 0px; }
.cart_adress { border: 1px solid rgb(221, 221, 221); padding: 15px; margin: 15px 0px; }
.inline-block { display: inline-block; vertical-align: top; }
.adress_out { border: 1px solid rgb(221, 221, 221); margin: 8px 0px; padding: 14px; }
.edit_td { width: 24%; }
.adress_cont { width: 70%; }
div#newadress { padding: 5px 0px 25px 15px; }
a.cart_adress_edit { margin: 9px 20px 0px; display: block; padding: 0px; }
td.namecheck { text-align: left; }
