body {
	min-height:100%; 
	position:relative;
	background-color: #000000;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom:0;
	margin-top:0;
	background-image: url(/cont/img/tpl/bodyfon.png);
	background-repeat: repeat-y;
	background-position: center top;
}    