.csse {
	
	width: 500px;
	border: 1px solid #ccc;
	color: #000000;
	background-color: #ffffff;
}

	.csse .header {
		padding: 3px;
		margin-bottom: 5px;
		font-weight: bold;

		background-color: #E8EBF0;
		color: #000;
		border-bottom: 1px solid #ccc;
	}

	.csse .msg {
		margin: 5px 0 0 5px;
		color: #00aa00;
	}

	/*
		Tabs (one tab per CSS rule)
	*/
	.csse a.tab_button {
		display: block;
		margin: 5px 0 0 5px;
		width: 93%;
		font-weight: bold;
		background-color: #E8EBF0;
		border: 1px dotted #ccc;
		text-decoration: none;
		color: #0000aa;
	}

	.csse a.tab_button:hover {
		text-decoration: underline;
	}

	.csse a.active {
		background-color: #afebb3;
		color: #007700;
	}


	.csse .tab_content {
		display: none;
		

		margin: 5px 0 0 5px;
		font-weight: bold;
		border-bottom: 1px dotted #ccc;
	}

	.csse .tab_list {
		float: left;
		width: 150px;
		height: 200px;
		overflow: auto;
		background-color: #fff;
	}

	.csse .property_list {
		overflow: auto;
		background-color: #fff;
	}

	/*
		CSS Property title
	*/
	.csse .title {
		margin: 5px 0 0 5px;
		float: left;
		width: 150px;
	}

	/*
		CSS Property value
	*/
	.csse .value {
		padding-left: 5px;
		margin: 5px 0 0 150px;
		
	}

	.csse .clr
	{
		clear: both;
	}

	/*
		Submit button
	*/
	.csse div.submit
	{
		margin: 15px 0 10px 5px;
		padding-left: 5px;
	}

	/*
		Fields
	*/
	
	.csse input.num {
		width: 40px;
	}