
<p>-t-
-t-
<div id="outfullcart">
	<table class="ramka fullcart" width="100%" >


		  <tr>
				<th class="name" >Название</th>
				<th width="60" align="center"><?=( o('cart-artname') ? o('cart-artname') : 'Артикул'  );  ?></th>
				<? if ( o('codtov_on') ) { ?><th width="70" align="center" valign="middle">Код товара</th><? } ?>
				<? if ( o('weight_on') ) { ?><th width="60" align="center" valign="middle">Вес</th><? } ?>
				<? if ( !o('cart-priceoff') ) { ?><th width="60" align="center" valign="middle">Цена</th><? } ?>
				
				<th width="76" align="center">Кол-во</th>		
				<? if ( !o('cart-priceoff') ) { ?><th width="70" align="center" valign="middle">Сумма</th><? } ?>
				<th width="30" align="center"> </th>		
				
		   </tr>-t-
		  <tr id="tov$id">
				<td  align="left" valign="middle" class="foncart">
					<table width="100%">	
						<tr>
							<td class="fullcart_img" ><img src="$img"  style="margin:5px 15px 5px 5px; width: 64px;"  /></td>
							<td><a href="$href">$name</a><div>$desc</div><div class="cart_desc">$cart_desc</div></td>
						</tr>
					</table>
				</td>
				<td align="center">$idart</td>
				<? if ( o('codtov_on') ) { ?><td align="center">$codtov</td><? } ?>
				<? if ( o('weight_on') ) { ?><td align="center">$weight кг</td><? } ?>
				<? if ( !o('cart-priceoff') ) { ?> 
					<td  align="center" valign="middle" class="foncart">$price&nbsp;[val]</td> 
				<? } ?>
				<td align="center" valign="middle" class="foncart">
					<div class="num_tov_out">
						<input  name="maxvalue[$id]" class="maxvalue" type="hidden" value="$maxvalue" />
						<input  name="num_tov[$id]" type="text" class="num_tov" value="$num" /><? if( o('tov_num_up_down') )  { ?><span class="chnum chnum_up" onclick="tov_num_change(this,1)" >+</span><span class="chnum chnum_down" onclick="tov_num_change(this,-1)" >-</span>&nbsp;&nbsp;&nbsp;&nbsp;
						<? } ?>&nbsp;шт.  
					</div>
				</td>
				<? if ( !o('cart-priceoff') ) { ?> 
					<td  align="center" valign="middle" class="foncart">$price_all_tov [val]</td> 
				<? } ?>
				<td align="center">
					<a href="javascript:deltovcart('$id')" class="deltovbut" title="Удалить товар из корзины"></a>
				</td>
		  </tr>-t- 
		 
		 
	</table>

	<div class="cartit" >
		<div class="cartit_summ">
			<? if ( !o('cart-priceoff') ) { ?>
				<b>Итого: $fprice&nbsp;[val]</b><br/>
				<small>(без учёта доставки)</small>
			<? } ?>
		</div>
		<div class="cartit_weight">
			<? if(o('weight_on') ) { ?>
				Вес: [weight_all] кг
			<? } ?>
		</div>
			
	</div>

</div>-t-

  